
<div class="row mt-4">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <button type="button" class="btn btn-primary btn-block btn-lg mt-2" data-toggle="modal" data-target="#exampleModalCenter" [disabled]='!appService.isBooked'>
          <span>{{appService.driverButtonData}}</span>
        </button>
 <br>
       <agm-map [latitude]='lat' [longitude]='long' [zoom]='zoom'>
            <agm-marker [latitude]='lat' [longitude]='long'
              
            [iconUrl]="'https://olawebcdn.com/images/v1/cabs/sl/ic_micro.png'"
            ></agm-marker>
       </agm-map>
       



    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
      <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h5>Pickup Location :   {{appService.userPickuplocation}}</h5>
            <br>
            <h5>Destination     :   {{appService.userDestination}}</h5>
            <br>
            <h5>User Name       :   {{appService.username}}</h5>
            <br>
            <h5>User Email      :   {{appService.useremail}}</h5>
            <br>
            <h5>Total Fare      :   {{appService.totalFare}}</h5>
           </div>
       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
</div>